<div id="root-home">
  <div id="title-background" ></div>
  <div id="title-overlay"></div>
  <section id="home">
    <div id="home-title">
      <div id="main-title">
        <div id="title-heading">
          <h1 id="title-heading-1">web developer</h1>
          <h1 id="title-heading-2">engineering</h1>
          <h1 id="title-heading-3"><span class="key">family</span> man</h1>
        </div>
        <div id="title-sub-heading">
          <h3>formerly head of mobile access engineering @telefonica_de</h3>
        </div>
        <div id="title-details">
          <h4>web developer portfolio </h4>
        </div>
        <div id="title-icons">
          <a id="git" href="#"></a>
          <a id="lin" href="#"></a>
          <a id="twi" href="#"></a>
          <a id="sts" href="#"></a>
        </div>
        <div id="contact-me">
          <a class="btn btn-general btn-home" href="#" title="Contact Me Now" role="button">Contact Me Now</a>
        </div>
      </div>
    </div>
    <!-- scroll down mobile -->
    <div id="move-down">
      <a id="arrow-down" href="#about"></a>
    </div>
  </section>
  <!-- space -->
  <section id="about">
    <div id="home-about">
      <div class="section-title">
        <h1>About me</h1>
      </div>
      <div class="paragraphs">
        <p class="mobile pc">Technology, Electronics, and the beauty of simple engineering solutions is my passion.</p>
        <p class="pc"><br>
          <br>
          Life brought change and excellent opportunities in the telecom industry. I managed small projects, big projects, and later great teams.</p>
        <p class="mobile ipad"> Telecoms brought me to work with great people across 13 countries and the chance to live in big cities like Buenos Aires, London, and Munich.</p>
        <p class="mobile pc">After 17 years in telecom, I have now started my adventure in the software development industry, and I am loving it. </p>
      </div>
      <div id="get-resume">
        <a class="btn btn-general btn-home" href="#" title="Get my resume" role="button">get my resume</a>
      </div>
    </div>
  </section>
  <div id="root-buttons">
    <div id="contact-me-root">
      <a class="btn btn-general btn-home" href="#" title="Contact Me Now" role="button">Contact Me Now</a>
    </div>
    <div id="contact-me-root">
      <a class="btn btn-general btn-home" href="#" title="Get my resume" role="button">Get my resume</a>
    </div>
  </div>
</div>
<section id="projects">
  <div class="project-container">
    <!-- project left side -->
    <div class="left-side">
      Left side content
      <div class="project-title">
        <h3>HTML/CSS Capstone</h3>
      </div>
      <div class="paragraphs">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iure cupiditate ipsam tenetur delectus. Laboriosam deserunt repudiandae numquam, odio nulla, earum at autem nam aliquid, totam animi sint ab porro.</p>
      </div>
      <div class="button-area">
        <a href="">
          <button class="btn btn-general btn-home">
            <i>icon</i>
            Repository
          </button>
        </a>
      </div>
    </div>
    <!-- project left side -->
    <div class="col-sm-6">
      Right side content
      <div class="batch"></div>
      <div class="trech"></div>
      <div class="picture"></div>
    </div>
  </div>
</section>
