<div id="root-home">
  <div id="title-background" ></div>
  <div id="title-overlay"></div>
  <section id="home">
    <div id="home-title">
      <div id="main-title">
        <div id="title-heading">
          <h1 id="title-heading-1">web developer</h1>
          <h1 id="title-heading-2">engineering</h1>
          <h1 id="title-heading-3"><span class="key">management</span></h1>
        </div>
        <div id="title-sub-heading">
          <h3>formerly head of mobile access engineering @telefonica_de</h3>
        </div>
        <div id="title-details">
          <h4>web developer portfolio </h4>
        </div>
        <div id="title-icons">
          <a id="git" href="#"></a>
          <a id="lin" href="#"></a>
          <a id="twi" href="#"></a>
          <a id="sts" href="#"></a>
        </div>
        <div id="contact-me">
          <a class="btn btn-general btn-home" href="#" title="Contact Me Now" role="button">Contact Me Now</a>
        </div>
      </div>
    </div>
    <!-- scroll down mobile -->
    <div id="move-down">
      <a id="arrow-down" href="#about"></a>
    </div>
  </section>
  <!-- space -->
  <section id="about" class="base-section">
    <div id="home-about">
      <div class="section-title">
        <h1>About me</h1>
      </div>
      <div class="paragraphs">
        <p class="mobile pc">Technology, Electronics, and the beauty of simple engineering solutions are my passion.</p>
        <p class="pc"><br>
          <br>
          Life brought change and excellent opportunities in the telecom industry. I managed small projects, big projects, and later great teams.</p>
        <p class="mobile ipad"> Telecoms allowed me to work with great people across 13 countries and the chance to live in big cities like Buenos Aires, London, and Munich.</p>
        <p class="mobile pc">After 17 years in telecom, I have now started my adventure in the software development industry, and I am loving it. </p>
      </div>
      <div id="get-resume">
        <a class="btn btn-general btn-home" href="#" title="Get my resume" role="button">get my resume</a>
      </div>
    </div>
  </section>
  <div id="root-buttons">
    <div id="contact-me-root">
      <a class="btn btn-general btn-home" href="#" title="Contact Me Now" role="button">Contact Me Now</a>
    </div>
    <div id="root-move-down">
      <a id="arrow-down-root" href="#projects"></a>
    </div>
    <div id="resume-me-root">
      <a class="btn btn-general btn-home" href="#" title="Get my resume" role="button">Get my resume</a>
    </div>
  </div>
</div>
<section id="projects" class="base-section">
  <div class="section-title">
    <h1>Selected projects</h1>
  </div>
  <div id="projects-carousel" class="owl-carousel owl-theme">
    <div class="item project-container">
      <!-- project left side -->
      <div class="left-side">
        <div class="project-title">
          <h3>RAYCES.COM</h3>
        </div>
        <div class="paragraphs">
          <p>Complete responsive web site design and implementation.</p>
          <p>Interfacing the customer in all required steps (Wireframing, design and implementation)</p>
        </div>
      </div>
      <!-- project right side -->
      <div class="right-side">
        <div class="top-row">
          <div class="tech">
            <span class="tag tag-html5"></span>
            <span class="tag tag-css3"></span>
            <span class="tag tag-boots"></span>
            <span class="tag tag-php"></span>
            <span class="tag tag-jquery"></span>
            <span class="tag tag-mysql"></span>
          </div>
        </div>
        <div class="app-picture">
          <img src="<%= asset_path('project_01.jpg') %>" alt="project_01 image">
        </div>
        <div class="award-batch">
          <span class="tag-award"></span>
          <span>Happy Customer</span>
        </div>
      </div>
      <div class="button-area">
        <a href="#projects">
          <button class="btn btn-project">
            <span class="btn-1"></span>
            Live Site
          </button>
        </a>
        <a href="#projects">
          <button class="btn btn-project">
            <span class="btn-2"></span>
            Case Study
          </button>
        </a>
      </div>
    </div>
    <div class="item project-container">
      <!-- project left side -->
      <div class="left-side">
        <div class="project-title">
          <h3>RAYCES.COM</h3>
        </div>
        <div class="paragraphs">
          <p>Complete responsive web site design and implementation.</p>
          <p>Interfacing the customer in all required steps (Wireframing, design and implementation)</p>
        </div>
      </div>
      <!-- project right side -->
      <div class="right-side">
        <div class="top-row">
          <div class="tech">
            <span class="tag tag-html5"></span>
            <span class="tag tag-css3"></span>
            <span class="tag tag-boots"></span>
            <span class="tag tag-php"></span>
            <span class="tag tag-jquery"></span>
            <span class="tag tag-mysql"></span>
          </div>
        </div>
        <div class="app-picture">
          <img src="<%= asset_path('project_01.jpg') %>" alt="project_01 image">
        </div>
        <div class="award-batch">
          <span class="tag-award"></span>
          <span>Happy Customer</span>
        </div>
      </div>
      <div class="button-area">
        <a href="#projects">
          <button class="btn btn-project">
            <span class="btn-1"></span>
            Live Site
          </button>
        </a>
        <a href="#projects">
          <button class="btn btn-project">
            <span class="btn-2"></span>
            Case Study
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="skills" class="base-section">
  <div class="section-title">
    <h1>Skills</h1>
  </div>
  <div id="skills-flex">
    <div id="electronics" class="skills-column">
      <div class="head-icon">
        <span id="skill-electronics"></span>
      </div>
      <div class="head-title">
        <h2>Telecoms | Electronics</h2>
      </div>
      <div class="skill-text">
        <p>BA in Electronics Engineering. Extensive experience on wireless mobile Telecoms engineering @telefonica.</p>
      </div>
      <div class="head-sub-title">
        <h3>Experience working with</h3>
      </div>
      <ul class="skill-list">
        <li>LAN/WAN Networks</i>
        <li>2G/3G/4G(LTE) air inteface</i>
        <li>RAN Capacity Panning</li>
        <li>RAN Performance Optimization</li>
        <li>Site design optimisation</li>
        <li>Factory rollout optimization</li>
        <p class="note">(*) RAN: Radio Access Network</p>
      </ul>
    </div>
    <div id="software" class="skills-column">
      <div class="head-icon">
        <span id="skill-software"></span>
      </div>
      <div class="head-title">
        <h2>software | development</h2>
      </div>
      <div class="skill-text">
        <p>1500 hs training @microverseinc <br>
          Experience with HTML/CSS frelance projects. I love building projects to solve problems.</p>
      </div>
      <div class="head-sub-title">
        <h3>Experience working with</h3>
      </div>
      <ul class="skill-list">
        <li>HTML5 | CSS3 | SASS</li>
        <li>SQL | SQLite | Posgress</li>
        <li>Ruby | Ruby on Rails</li>
        <li class="ongoing">(Javascrip | React | Redux)</li>
        <li>Python</li>
        <p class="note">1: ongoing training - @microverseinc</p>
      </ul>
    </div>
    <div id="management" class="skills-column">
      <div class="head-icon">
        <span id="skill-management"></span>
      </div>
      <div class="head-title">
        <h2>Management | Leadership</h2>
      </div>
      <div class="skill-text">
        <p>MBA General Management. 16 years experience in Telecoms Industry. 10 years leading engineering teams. </p>
      </div>
      <div class="head-sub-title">
        <h3>Experience working as</h3>
      </div>
      <ul class="skill-list">
        <li>Head of Mobile Access</li>
        <li>Corp. Head of Access Infra </li>
        <li>PMO Line Manager</li>
        <li>Radio Planning Manager</li>
        <p class="note">1: Munich - 2: London - 3: Buenos Aires</p>
      </ul>
    </div>
  </div>
</section>
<section id="quote-section" class="base-section">
  <div class="section-content">
    <div class="quote">
      <p><span class="left-quote"></span>You do not rise to the level of your goals. You fall to the level of your systems.<span class="right-quote"></span></p>
      <h4>James Clear | Atomic Habits</h4>
    </div>
  </div>
</section>
<section id="publications" class="base-section">
  <div class="section-title">
    <h1>Stories</h1>
  </div>
  <div id="pub-caroucel" class="section-content owl-carousel owl-theme">
    <div class="item storycard">
      <div class="head-picture">
        <div class="picture-label">Hackernoon</div>
      </div>
      <div class="story-title">
        <a  href="https://hackernoon.com/a-beginners-guide-to-making-a-career-as-an-htmlcss-developer-hy9832n9">A Beginner's Guide to Making a Career As an HTML/CSS Developer</a>
      </div>
      <div class="story-short">
        <p class="story-teaser">Change is hard, and as a goal, software development is not easy at all. After working 17 years in Telecoms, I am now in the middle of a career change. </p>
      </div>
      <div class="story-bottom">
        <div class="tags">
          <div class="status">published</div>
        </div>
        <div class="when"><%= post_age('18-01-2020') %> ago.</div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
