[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/www/portfolio
Environment=RAILS_ENV=production

ExecStart=/usr/share/rvm/rubies/ruby-2.6.5/bin/ruby -C /home/ubuntu/www/portfolio/config/puma.rb
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target