<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Menssage sent by, <%= @contact.name %> - Porfolio Page</h1>
    <h2>Subject: <%= @contact.subject %></h2>
    <p>Message: </p>
    <p> <%= @contact.message %></p>
    <p>with love from  <%= @url %></p>
  </body>
</html>
