/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "owl.carousel";
@import "owl.theme.default";

//***************************
//**      OWL Carousel    ***
//***************************

.owl-carousel {
    // touch-action: manipulation;
}

//*****************************
//**     jQuery Validate    ***
//*****************************

.form-error {
    font-family: "ProximaThin";
    color: #dd4b39;
    font-size: 2vh;
}

label .form-error {
    margin-bottom: 0;
}

.has-error {
    margin-bottom: 0;
}

//***************************
//**      FONTS           ***
//***************************

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: "ProximaThin";
    src: asset-url("proxima/ProximaNovaThin.otf") format("opentype");
}

@font-face {
    font-family: "ProximaReg";
    src: asset-url("proxima/ProximaNovaRegular.otf") format("opentype");
}

@font-face {
    font-family: "ProximaBold";
    src: asset-url("proxima/ProximaNovaBold.otf") format("opentype");
}


// Color setup
$text: #011627;
$white:#fdfffc;
$standout1: #e71d36;
$detail: #2ec4b6;
$standout2: #ff9f1c;


//#################################
//###      html, body           ###
//#################################

html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
    font-size: 14px;
    max-width: 1890px;
    margin: 0 auto;

}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ProximaReg", sans-serif;
}

p {
    font-family: "ProximaThin", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

section {
    background: #fff;
    //overflow: hidden;
}

//#######################################
//#           modal display             #
//#######################################

#modals {
    display: none;
}

#modal-confirmation {
    display: none;
    width: 80%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

    .card-body a {
        text-decoration: none;
    }

    .card-title h5 {
        margin: 3vh auto;
        font-family: "ProximaBold", san-serif;
        font-size: 3vh;
        transition: all 0.8s;
        color: black;
        width: 90%;
        line-height: 5vh;
    }
}

//#######################################
//#            Buttons                  #
//#######################################

.btn-general {
    font-family: "ProximaBold", san-serif;
    border-radius: 10px;
    font-size: 5vw;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 30px 12px 30px;
    transition: all 0.5s;
    box-shadow: 6px 6px 11px #727272, -6px -6px 11px #ffffff;
}

.btn-home {
    background-color: white;
}

.btn-home:hover,
.btn-home:focus {
    color: white;
    background: gray;
    box-shadow: 6px 6px 11px #727272, -6px -6px 11px #ffffff;

}

//##### project buttons #####

.btn-project {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.9rem;
    font-family: "ProximaBold", san-serif;
    text-transform: capitalize;
    color: black;

    border-radius: 5px;
    padding: 8px;
    margin: 6px;
    box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.2);
}

.button-area .btn-project span {
    position: relative;
    display: inline-block;
    width: 3.5vh;
    height: 3.5vh;
    margin-right: 8px;
}

.btn-project span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-project:hover,
.btn-project:focus {
    color: white;
    background: gray;
    border: 1px solid gray;
}

.button-area a:hover {
    text-decoration: none !important;
}

.btn-project .btn-1::after {
    -webkit-mask: image-url("link_1.svg") no-repeat 100% 100%;
    mask: image-url("link_1.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: black;
}

.btn-project .btn-2::after {
    -webkit-mask: image-url("case_1.svg") no-repeat 100% 100%;
    mask: image-url("case_1.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: black;
}

.btn-project .btn-3::after {
    -webkit-mask: image-url("git.svg") no-repeat 100% 100%;
    mask: image-url("git.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: black;
}

.btn-project .btn-4::after {
    -webkit-mask: image-url("video.svg") no-repeat 100% 100%;
    mask: image-url("video.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: black;
}

.btn-project span:hover::after,
.btn-project span:focus::after {
    background-color: white;
}

//###### back to UP button

.btn-back {
    background: red !important;
    position: fixed;
    bottom: 40px;
    right: 20px;
    padding: 7px 15px;
    display: none;
    border-color: red !important;
    color: white;
    z-index: 3;
}

//#######################################
//#           ICONS                     #
//#######################################

//################# Title Icons #############

.title-icons {
    margin: 20px 0 10px 0;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-icons a {
    position: relative;
    width: 7vh;
    height: 7vh;
    transition: all 200ms ease-in-out;
    box-shadow: 6px 6px 11px #727272, -6px -6px 11px #ffffff;
    border-radius: 3vw;
    margin-top: 1px;
    overflow: hidden;
}

.title-icons a:hover {
    transform: translateY(8px);
}

.title-icons a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 7vh;
    height: 7vh;
}

.title-icons #git::after {
    -webkit-mask: image-url("git.svg") no-repeat 100% 100%;
    mask: image-url("git.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}

.title-icons #lin::after {
    -webkit-mask: image-url("lin.svg") no-repeat 100% 100%;
    mask: image-url("lin.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}

.title-icons #twi::after {
    -webkit-mask: image-url("twi.svg") no-repeat 100% 100%;
    mask: image-url("twi.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}

.title-icons #sts::after {
    -webkit-mask: image-url("sts.svg") no-repeat 100% 100%;
    mask: image-url("sts.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}

//############### back-button #########

#backup-button {
    position: fixed;
    right: 3%;
    bottom: 3%;
    width: 8vh;
    height: 8vh;
    transition: all 200ms ease-in-out;
    border-radius: 3vw;
    margin-top: 1px;
    z-index: 3;
}

#backup-button:hover {
    transform: translateY(8px);
}

#backup-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 50px;
}

#backup-button::after {
    -webkit-mask: image-url("up-arrow.svg") no-repeat 100% 100%;
    mask: image-url("up-arrow.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: red;
}

//############### skills icons #########

.head-icon {
    margin-top: 1vh;
}

.head-icon span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: all 200ms ease-in-out;
    margin: 2vh;

}

.head-title {}

.head-icon span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
}

.head-icon #skill-electronics::after {
    -webkit-mask: image-url("skill_radio.svg") no-repeat 100% 100%;
    mask: image-url("skill_radio.svg") no-repeat 100% 100%;
    background-color: black;
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 1;
}

.head-icon #skill-software::after {
    -webkit-mask: image-url("skill_software.svg") no-repeat 100% 100%;
    mask: image-url("skill_software.svg") no-repeat 100% 100%;
    background-color: black;
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 1;
}

.head-icon #skill-management::after {
    -webkit-mask: image-url("skill_manager1.svg") no-repeat 100% 100%;
    mask: image-url("skill_manager1.svg") no-repeat 100% 100%;
    background-color: black;
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 1;
}

//############### quotation icons #########

.quote span {
    position: relative;
    display: inline-block;
    width: 3vh;
    height: 3vh;
    transition: all 200ms ease-in-out;
    margin: 1vh;
}

.quote span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 98%;
}

.quote .left-quote::after {
    -webkit-mask: image-url("left-quote.svg") no-repeat 100% 100%;
    mask: image-url("left-quote.svg") no-repeat 100% 100%;
    background-color: white;
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 1;
    top: 0;
    left: 0;
}

.quote .right-quote::after {
    -webkit-mask: image-url("right-quote.svg") no-repeat 100% 100%;
    mask: image-url("right-quote.svg") no-repeat 100% 100%;
    background-color: white;
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 1;
    top: 100%;
    left: 0;
}

//################# confirmtion SVG/Icon ###########

.confirmation-svg span {
    position: relative;
    display: inline-block;
    width: 25vh;
    height: 25vh;
    margin: 1vh;
}

.confirmation-svg span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.confirmation-svg span::after {
    -webkit-mask: image-url("thanks_ok.svg") no-repeat 100% 100%;
    mask: image-url("thanks_ok.svg") no-repeat 100% 100%;
    background-color: green;
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 1;
    top: 0;
    left: 0;
}

//#######################################
//#             boxes                   #
//#######################################

.box-lg {
    display: block;
    margin: 20px 10px 20px 10px;
    padding: 5px;
}

.base-section {
    margin: 0 auto;
    width: 90%;
    display: block;
    flex-direction: column;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    margin-top: 120px;
}

.section-content {
    margin: 40px auto;
}

//#######################################
//#             HOME                    #
//#######################################

#root-home {
    display: flex;
    flex-direction: column;
    //flex-wrap: nowrap;
    // overflow: scroll;

    background: none;
}

#home {
    position: relative;
    flex-basis: 100%;
    width: 100%;
    background: none;
    height: 100vh;
}

#title-background {
    //background-color: red;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: image-url("home_background.svg") no-repeat;
    background-size: cover;
    z-index: -1;
}

#title-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#home-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title {
    width: 60%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-heading h1 {
    width: 100%;
    font-family: "ProximaBold";
    color: black;
    font-size: 5vh;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    text-align: center;
}

#title-sub-heading h3 {
    width: 100%;
    font-family: "ProximaThin";
    color: black;
    font-size: 3vh;
    text-transform: capitalize;
    margin: 25px 0 15px 0;
    display: inline-block;
    text-align: center;
    line-height: 3.5vh;
}

#title-details h4 {
    width: 100%;
    font-family: "ProximaThin";
    color: black;
    font-size: 2.5vh;
    margin: 10px 0 10px 0;
    display: inline-block;
    text-align: center;
    line-height: 2.5vh;
}

.title-heading .key {
    color: blue;
}

#contact-me {
    margin: 30px 0 10px 0;
}

//#######################################
//#           move down arrow           #
//#######################################

#move-down,
#root-move-down {
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateX(-50%);
}

#move-down a::after {
    content: "R";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#move-down #arrow-down::after,
#root-move-down #arrow-down-root::after {
    -webkit-mask: image-url("arrow_down.svg") no-repeat 100% 100%;
    mask: image-url("arrow_down.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: black;
    z-index: 1;
}

#move-down #arrow-down:hover::after,
#move-down #arrow-down:focus::after,
#root-move-down #arrow-down-root:hover::after,
#root-move-down #arrow-down-root:focus::after {
    -webkit-mask: image-url("arrow_down.svg") no-repeat 100% 100%;
    mask: image-url("arrow_down.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}

//#######################################
//#      tech tags / award tag      #
//#######################################

.tag {
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-in-out;
}

.tag:hover {
    transform: translateY(8px);
}

.award-batch {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 6px 11px -1px rgba(0, 0, 0, 0.2);
}

.award-batch span {
    margin: 3px 6px;
}

.tag-award {
    display: inline-block;
    -webkit-mask: image-url("tag-award.svg") no-repeat 100% 100%;
    mask: image-url("tag-award.svg") no-repeat 100% 100%;
    background-color: gold;
    height: 24px;
    width: 24px;
    margin-left: 3px;
    z-index: 1;
}

.tag-php {
    background: image-url("tag-php.svg") no-repeat;
    z-index: 1;
}

.tag-jquery {
    background: image-url("tag-jquery.svg") no-repeat;
    z-index: 1;
}

.tag-html5 {
    background: image-url("tag-html5.svg") no-repeat;
    z-index: 1;
}

.tag-css3 {
    background: image-url("tag-css3.svg") no-repeat;
    z-index: 1;
}

.tag-boots {
    background: image-url("tag-boots.svg") no-repeat;
    z-index: 1;
}

.tag-mysql {
    background: image-url("tag-mysql.svg") no-repeat;
    z-index: 1;
}

.tag-rails {
    background: image-url("tag-rails.svg") no-repeat;
    z-index: 1;
}

.tag-ruby {
    background: image-url("tag-ruby.svg") no-repeat;
    z-index: 1;
}

.tag-postg {
    background: image-url("tag-postg.svg") no-repeat;
    z-index: 1;
}

//#######################################
//#             about                   #
//#######################################

#root-buttons {
    display: none;
}

#about {
    display: block;
    position: relative;
    background: none;
    height: 80vh;
}

#home-about {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.section-title {
    margin: 0;
    padding: 5px 0;
    align-self: flex-start;
}

.section-title h1 {
    font-family: "ProximaBold";
    color: red;
    font-size: 3.5vh;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    text-align: center;
    line-height: 4.5vh;
}

.paragraphs {
    margin: 10px 0 0 0;
    flex-grow: 1;
}

.paragraphs p:first-child {
    margin: 10px auto;
}

.paragraphs .pc,
.paragraphs .ipad {
    display: none;
}

.paragraphs .mobile {
    margin: 10px auto;
    display: inline-block;
    width: 90%;
    font-family: "ProximaReg";
    color: black;
    font-size: 3vh;
    display: inline-block;
    text-align: left;
    line-height: 4vh;
}

#get-resume {
    margin: 20px;
}

//#######################################
//#              projects               #
//#######################################

.project-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 70vh;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 2.5%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    //box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 11px #727272, -6px -6px 11px #ffffff;
    overflow: hidden;
}

.project-title h3,
.left-side .paragraphs,
.left-side .paragraphs p:first-child {
    margin-top: 0;
}

.project-title h3 {
    font-size: 3.5vh;
    line-height: 3.5vh;
}

.left-side .paragraphs p {
    font-size: 2.7vh;
    line-height: 3.5vh;
}

.project-container .left-side,
.project-container .right-side {
    display: flex;
    flex-direction: column;
}

.project-container .right-side {
    justify-content: flex-end;
    align-items: center;
}

.left-side .button-area {
    display: flex;
    justify-content: space-between;
}

.left-side .button-area a:hover {
    text-decoration: none !important;
}

.right-side .app-picture {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 910px;
}

.right-side .app-picture img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
}

.right-side .award-batch {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    width: 80%;
}

.right-side .tech {
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.button-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

//#######################################
//#        Skills Section               #
//#######################################

.skills-column {
    position: relative;
    height: 75vh;
    margin: 4vh auto;
    padding: 0 2vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    box-shadow: 6px 6px 11px #727272, -6px -6px 11px #ffffff;
    overflow: hidden;
}

.skills-column .head-title h2 {
    font-family: "ProximaBold";
    color: black;
    font-size: 3.5vh;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.skills-column .skill-text p {
    width: 90%;
    font-family: "ProximaReg";
    font-size: 2.3vh;
    color: black;
    line-height: 3.5vh;
    margin: 1.4vh auto;
    text-align: center;
}

.skills-column .head-sub-title h3 {
    margin: 2vh auto;
    font-family: "ProximaBold";
    color: black;
    font-size: 3vh;
    text-transform: capitalise;
    display: inline-block;
    text-align: center;
}

.skills-column ul {
    list-style: none;
    font-family: "ProximaReg";
    font-size: 2.5vh;
    line-height: 4.5vh;
    padding: 0;
    text-align: center;
}

.skills-column ul li {
    position: relative;
}

#software ul li:nth-child(4)::after {
    content: "1";
    position: absolute;
    top: -3px;
    right: -4%;
    font-size: 1.5vh;
    margin-bottom: 1vh;
}

#management ul li:nth-child(1)::after {
    content: "1";
    position: absolute;
    top: -3px;
    right: 4%;
    font-size: 1.5vh;
    margin-bottom: 1vh;
}

#management ul li:nth-child(2)::after {
    content: "2";
    position: absolute;
    top: -3px;
    right: -4%;
    font-size: 1.5vh;
    margin-bottom: 1vh;
}

#management ul li:nth-child(3)::after {
    content: "3";
    position: absolute;
    top: -3px;
    right: 10%;
    font-size: 1.5vh;
    margin-bottom: 1vh;
}

#management ul li:nth-child(4)::after {
    content: "3";
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 1.5vh;
    margin-bottom: 1vh;
}

.skills-column ul .note {
    width: 100%;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "ProximaThin";
    font-size: 1.8vh;
}

//#######################################
//#        Quote Section                #
//#######################################

#quote-section {
    width: 100%;
    margin: 60px 0;
}

#quote-section .section-content {
    position: relative;
    height: 35vh;
    background-image: image-url("quote_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 90%;
    background: rgba(0, 0, 0, 0.4);
}

.quote p {
    font-family: "ProximaBold";
    font-size: 3vh;
    line-height: 6.5vh;
    text-align: center;
    color: white;
}

.quote h4 {
    font-family: "ProximaBold";
    font-size: 2.5vh;
    line-height: 5.5vh;
    text-align: center;
    color: white;
}

//#######################################
//#        publications                 #
//#######################################

#pub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.storycard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 85vw;
    margin: 0 auto;
    height: 70vh;
    box-shadow: 6px 6px 11px #727272, -6px -6px 11px #ffffff;
    overflow: hidden;
    margin-bottom: 8vh;

    .head-picture {
        position: relative;
        background: url("https://hackernoon.com/drafts/2x20361b.png");
        background-size: cover;
        height: 40%;
        flex-grow: 2;

        .picture-label {
            font-family: "IBM Plex Mono", monospace;
            font-size: 4vh;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            left: 0%;
            background: rgba(0, 0, 0, 0.3);
            padding: 3px 10px;
            color: white;
        }
    }

    .head-picture-medium {
        position: relative;
        background: url("https://miro.medium.com/max/552/1*9Ek1zVxM8jUEgpYzQYLyqg.jpeg");
        background-size: cover;
        height: 40%;
        flex-grow: 2;

        .picture-label {
            font-family: "IBM Plex Mono", monospace;
            font-size: 4vh;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            left: 0%;
            background: rgba(0, 0, 0, 0.3);
            padding: 3px 10px;
            color: white;
        }
    }

    .story-title {
        margin: 2vh;
        font-size: 3vh;
        margin-bottom: 0px;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .story-short {
        margin: 0 2vh;

        .story-teaser {
            font-size: 2.5vh;
        }
    }

    .story-bottom {
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        width: 100%;
        background: #cdcdcd;

        .status {
            margin-left: 1vh;
            border: solid 1px;
            border-color: rgb(24, 177, 2);
            background-color: rgb(24, 177, 2);
            padding: 1px 4px;
            color: white;
            border-radius: 5px;
            font-size: 2vh;
        }

        .when {
            font-family: "ProximaThin";
            color: black;
            font-size: 2.2vh;
            padding: 5px;
        }
    }
}

//#######################################
//#        Contact me                   #
//#######################################

#get-in-touch {
    height: 95vh;
    overflow: hidden;

    width: 100%;

    .title-heading {
        width: 93%;
        margin: 0 auto;
    }

    .title-heading h1 {
        font-size: 3.8vh;
        text-align: center;
    }

    .contact-links {
        margin: 5vh auto;

        .title-icons {
            text-align: center;
            margin: 5vh auto;
            width: 90%;
        }
    }

    .small-form {
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.08),
            0 5px 15px rgba(0, 0, 0, 0.08);
        padding: 1vh;
        width: 90%;
        margin: 0 auto;
        margin-top: 3vh;

        .form-control {
            height: 5vh;
            margin: 0 auto;
        }

        h3 {
            font-size: 4vh;
            text-align: center;
        }

        p {
            font-size: 3vh;
            line-height: 5vh;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 2vh;
        }

        form input,
        #message {
            margin-top: 1vh;
            font-size: 2.5vh;
        }

        #message {
            height: 8vh;
        }
    }
}

//##### making captcha room

.g-recaptcha {
    margin: 0 auto;
    transform: scale(1.1);
    transform-origin: 0 0;
}

#get-in-touch .small-form {
    padding: 0;
    box-shadow: none;
}

#get-in-touch .small-form p {
    display: none;
}

#get-in-touch #submit-btn {
    margin: 0 auto;
    margin-top: 3vh;

    width: 100%;
}

//#######################################
//#        footer                       #
//#######################################

footer {
    background: #212226;
    padding: 30px;
}

footer p {
    color: #fff;
    line-height: 4vh;
    font-size: 2vh;
}

footer p span {
    color: yellow;
}

//#######################################
//#        navigation                   #
//#######################################

.navbar {
    padding: 10px 0px;
    transition: all 0.5s;
    max-width: 1890px;
    margin: 0 auto;
}


.nav-wrap {
    position: relative;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    padding-top: 10px;
    padding-left: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
        border-radius: 100%;
        width: 55px;
        margin-right: 20px;
    }

    p {
        font-family: "ProximaBold", sans-serif;
        font-size: 6vw;
        text-transform: uppercase;
        margin: 0px;
        color: black;
    }
}


ul.navbar-nav>li>a {
    font-family: "ProximaReg", sans-serif;
    padding: 10px;
    color: #000;
    font-size: 1.4vw;
    text-transform: uppercase;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus {
    background: none;
    color: red;
}

//White navigation
.nav-top {
    background: black;
    box-shadow: 6px 6px 11px #727272, -6px -6px 11px #ffffff;
    z-index: 3;

    ul.navbar-nav>li>a {
        color: white;
    }

    ul.navbar-nav>li>a:hover,
    ul.navbar-nav>li>a:focus {
        background: none;
        color: red;
    }

    .navbar-brand {
        padding-top: 10px;

        p {
            color: white;
        }
    }
}

ul.navbar-nav>li.active>a {
    color: red;
}

//############ mobile burger menu #########
.mobile-burger-options {
    visibility: hidden;
}

//############### header burger #############

.header-burger>span {
    margin-top: 4px;
    margin-bottom: 4px;
}

.header-burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 4;
}

.header-burger>span,
.header-burger::before,
.header-burger::after {
    content: "";
    display: block;
    width: 24px;
    height: 4px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}

//################# burger animate CSS #########

@-webkit-keyframes slide-burger {
    0% {
        bottom: 5px;
        right: 0px;
    }

    /*     50% {
        bottom: -25px;
        right: 5px;
    } */

    100% {
        bottom: -50px;
        right: 10px;
    }
}

@keyframes slide-burger {
    0% {
        bottom: 5px;
        right: 0px;
    }

    /*     50% {
        bottom: -25px;
        right: 5px;
    } */

    100% {
        bottom: -70px;
        right: 0px;
    }
}

.animate-burger {

    -webkit-animation: slide-burger;
    animation: slide-burger;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    /*     animation-timing-function: ease-in-out;
    -webkit-animation-delay: .2s;
    animation-delay: .2s; */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.animate-burger::before {
    transform: rotate(-135deg);
}

.animate-burger::after {
    transform: rotate(135deg);
}

.animate-burger::before,
.animate-burger::after {
    position: absolute;
    transition: all .3s ease;
}


//################# burger menu options #########

.mobile-burger-options {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 50vh;
    padding: 10px;
    right: -13px;
    bottom: 0;
    transform: translateY(104%);
    background: rgba(255, 255, 255, .90);
    box-shadow: 6px 6px 11px #727272;
    overflow: hidden;

    li a {
        font-family: "ProximaBold", sans-serif;
        font-size: 3vh;
        text-transform: uppercase;
        padding-left: 5px;
        padding-right: 0;
        color: black;
    }
}



//###################################################
//#           XS- screen media query - portrait     #
//###################################################

@media all and (max-width: 320px) {
    .skills-column {
        height: 80vh;
        margin: 2vh auto;
        padding: 2vh;
    }

    //##### quote-section

    .quote p {
        font-size: 3.5vh;
        line-height: 6.5vh;
    }

    .storycard {
        margin-top: 4vh;
    }

    //##### publications

    .storycard {
        margin-top: 3vh;
    }

    .storycard:first-child {
        margin-top: 0vh;
    }

    //######### Make captcha fit

    .g-recaptcha {
        margin: 0 auto;
        transform: scale(0.9);
        transform-origin: 0 0;
    }

    #get-in-touch .small-form {
        padding: 0;
        box-shadow: none;
    }

    #get-in-touch .small-form p {
        display: none;
    }

    #get-in-touch #submit-btn {
        margin: 0 auto;
        margin-top: 1vh;
        width: 100%;
    }
}

//###################################################
//#           XS- screen media query - landscape    #
//###################################################

@media (min-width : 320px) and (max-width : 480px) and (orientation :landscape) {
    #root-home {
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        height: 100vh;
        //margin-top: 3vh;
        justify-content: space-around;
    }

}

//###################################################
//#            mid-screen media query               #
//###################################################

@media all and (min-width: 768px) {

    #root-home {
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        height: 100vh;
        //margin-top: 3vh;
        justify-content: space-around;
    }

    #contact-me,
    #get-resume,
    #move-down {
        display: none;
    }

    #home {
        flex-basis: 48%;
        height: 50vh;
        align-self: flex-end;
    }

    #about {
        flex-basis: 48%;
        height: 55vh;
        align-self: flex-end;
    }

    #about #home-about .paragraphs {
        margin-top: 0;
    }

    #about #home-about .paragraphs p {
        width: 100%;
        font-size: 2.8vh;
        line-height: 3.2vh;
    }


    #root-buttons {
        margin-top: 3vh;
        width: 100%;
        align-self: center;
    }

    #root-move-down {
        bottom: 10vh;
    }

    #main-title {
        margin-top: 0%;
        width: 85%;
        align-items: flex-start;
    }

    #main-title h1 {
        font-size: 3rem;
        text-align: left;
    }

    #main-title h3 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding: 0;
        width: 100;
        text-align: left;
    }

    #main-title h4 {
        font-size: 1.5rem;
        line-height: 25px;
    }

    .title-icons {
        margin-top: 0;
        width: 90%;
        align-self: center;
    }

    .title-icons a {
        margin-top: 10%;
        width: 5vh;
        height: 5vh;
        border-radius: 10px;
    }

    .title-icons a::after {
        width: 5.2vh;
        height: 5.2vh;

    }

    #contact-me {
        margin-top: 10%;
        align-self: center;
    }

    .btn-general {
        font-size: 3vw;
    }

    //########### about media ############

    #home-about {
        margin-left: 5px;
        margin-right: 5px;
    }


    #home-about .paragraphs {
        margin-bottom: 0px;
    }

    #home-about .paragraphs p {
        font-size: 3vh;
        line-height: 3.3vh;
    }

    .paragraphs .mobile {
        font-family: "ProximaThin";
        font-size: 5rem;
    }

    //########### root buttons ############

    #root-buttons {
        display: flex;
        justify-content: space-around;
    }

    //######### projects section ###################

    section #projects {
        height: auto;
    }

    .project-title h3 {
        font-size: 3.5vw;
        font-family: "ProximaBold";
    }

    .project-title h3,
    .left-side .paragraphs,
    .left-side .paragraphs p:first-child {
        margin-top: 10px;
    }

    .left-side .paragraphs p {
        font-size: 2.8vw;
        line-height: 4.5vh;
    }

    .project-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 72vh;
        overflow: hidden;
    }

    .project-container .left-side {
        width: 100%;

        .project-title h3 {
            font-size: 4.5vh;
            line-height: 4.5vh;
            text-align: center;
        }

        .project-title .hide_big {
            display: none;
        }

        .paragraphs p {
            font-size: 2.8vh;
            line-height: 3.5vh;
        }
    }

    .project-container .right-side {
        width: 100%;
        justify-content: center;

        .app-picture {
            overflow: hidden;
            flex-grow: 1;
        }

        .app-picture img {
            width: auto;
            height: 28vh;
            -o-object-fit: cover;
            object-fit: cover;
            margin: 0 auto;
            margin-top: 5px;
        }

        .award-batch {
            position: relative;
            top: 0px;
            left: 0px;
            transform: none;
            margin: 0 auto;
            margin-bottom: 10px;
            width: 30%
        }

        .award-batch {
            justify-content: space-around;
        }
    }

    .project-container .button-area {
        width: 100%;
        justify-content: space-evenly;
    }

    .tag {
        width: 4rem;
        height: 2rem;
    }


    //########## skills section ######

    .skills-column {
        justify-content: flex-start;
    }

    .skills-column .head-title h2 {
        margin: 4vh 0;
    }

    //##### quote-section

    .quote {
        padding: 1vh;
    }

    .quote p {
        font-size: 4vh;
        line-height: 6.5vh;
    }

    //######### publications ###################

    .storycard {
        height: 80vh;

        .head-picture {
            flex-grow: 2;

            .picture-label {
                font-size: 4vh;
                margin: 1vh;
            }
        }

        .story-title {
            margin: 0 2vh 2vh 2vh;
        }

        .story-short {
            margin: 0 2vh 2vh 2vh;
        }
    }

    .storycard:first-child {
        margin-top: 1vh;
    }

    //######### get in touch ###################

    #get-in-touch {
        height: 80vh;

        .title-icons {

            a {
                margin-top: 0;
                width: 6.5vh;
                height: 6.5vh;
            }
        }

        .title-icons a:after {
            width: 6.9vh;
            height: 6.9vh;
        }

        .contact-links .in-touch {
            width: 80%;
        }

    }

    #contact-form {
        margin: 0 auto;
        margin-bottom: 4vh;
        width: 95%;

        h3 {
            font-size: 2.5vh;
            line-height: 3vh;
        }


    }

    .small-form #contact-form p {
        width: 99%;
        font-size: 3vh;
        line-height: 4vh;
    }

    //###### adjusting for captcha in form

    #get-in-touch .small-form p {
        display: inline-block;
    }

    .bottom-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }

    #get-in-touch #sbt-btn {
        width: 35%;
    }

    #get-in-touch #submit-btn {
        margin: 0;
        height: 8vh;
    }

    .small-form {
        padding: 10px 0;
        width: 75%;
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.08),
            0 5px 15px rgba(0, 0, 0, 0.08);
    }

    //############## navigation ###########

    // first disable mobile burger menu
    .navbar-header .header-burger,
    .nav-wrap .mobile-burger-options {
        display: none;
    }

    .options-wrap {
        ul li:nth-child(1) {
            display: none;
        }
    }

    .navbar-brand {

        img {
            margin: 10px 20px 10px 20px;
        }

        p {
            font-size: 3vw;
        }
    }
}

//###################################################
//#            big-screen media query               #
//###################################################

@media all and (min-width: 768px) and (orientation: landscape) {
    #main-title {
        margin-top: 10%;
        width: 80%;
        align-items: flex-start;
    }

    .section-title {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        align-self: center;
        padding-bottom: 6px;
    }

    .section-title h1 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    #home-about .paragraphs p {
        font-size: 2vh;
    }

    #about .paragraphs p:first-child {
        margin-top: 15px;
    }

    .paragraphs .mobile {
        font-family: "ProximaThin";
        font-size: 4rem;
        margin: 20px 0 10px 0;
        display: inline-block;
        text-align: left;
        line-height: 80px;
    }

    #root-buttons .btn-general {
        font-size: 2vw;
    }

    //########### Title-icons ################

    #main-title .title-icons {
        width: 100%;
    }

    #main-title .title-icons a {
        width: 55px;
        height: 55px;
    }

    #main-title .title-icons a::after {
        width: 58px;
        height: 58px;
    }

    //######### projects section 768 landscape ##############

    #projects .project-container {
        flex-direction: row;
        flex-wrap: wrap;

        .left-side {
            width: 40%;

            .project-title h3 {
                text-align: left;
                font-size: 4vh;
                line-height: 5.5vh;
            }

            .paragraphs p {
                text-align: left;
                font-size: 3.5vh;
                line-height: 5vh;
            }
        }

        .right-side {
            width: 58%;

            .top-row {
                align-self: center;
            }

            /* .app-picture {
                overflow: hidden;
                flex-grow: 1;
            }

            .app-picture img {
                width: 100%;
                height: auto;
                margin-top: 5px;
            } */
        }
    }

    .left-side .paragraphs p {
        font-size: 2vw;
        line-height: 3vw;
    }

    .btn-project {
        font-size: 1.5vw;
        margin-left: 3vw;
    }

    .award-batch span {
        margin: 3px 6px;
        font-size: 1.2vw;
    }

    .tag {
        width: 60px;
        height: 30px;
        margin: 6px;
    }


    .tag-award {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: 3px;
    }



    //############## skills section ###########

    #skills-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.08),
            0 5px 15px rgba(0, 0, 0, 0.08);
        justify-content: center;
        height: 78vh;
    }

    .skills-column {
        height: 78vh;
        margin: 0 auto;
        padding: 0;
        width: 95%;
        justify-content: flex-start;
        align-items: center;
        box-shadow: none;
        border-radius: 0px;
    }

    .skills-column:nth-child(2) {
        border-left: solid 0.5px;
        border-right: solid 0.5px;
        border-color: #dcdcdc;
    }

    .skills-column .head-title h2 {
        margin: 3vh 0;
        font-size: 2.8vh;
    }

    .skills-column .head-sub-title h3 {
        // margin: 1vh auto;
        margin: 3vh 0;
        font-size: 2.8vh;
    }

    .skills-column ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 3.6vh;
    }


    //######### publications ###################

    #pub-container {
        flex-wrap: nowrap;
        margin-top: 0;

        .storycard {
            width: 42vw;
            height: 75vh;
            margin: 1vh 0;
            margin-top: 0;
        }
    }

    //########### get in touch  ############

    #get-in-touch {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .title-heading {
            font-size: 5.5vh;
            width: 90%;
        }

        .contact-links {
            width: 30%;
            margin: 0 auto;

            .title-icons {
                height: 5vh;
                width: 100%;
                margin: 2vh auto;

                a {
                    margin-top: 0;
                    width: 6vh;
                    height: 6vh;
                }
            }
        }

        .small-form {
            margin-top: 1vh;
            padding: 10px 0;
            width: 75%;
            border-radius: 4px;
            box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.08),
                0 5px 15px rgba(0, 0, 0, 0.08);

            #contact-form {
                height: 49vh;
            }
        }
    }

    .g-recaptcha {
        margin: 0 auto;
        transform: scale(0.9);
        transform-origin: 0 0;
        flex-grow: 1;
    }
}

//###################################################
//#            X-big-screen media query             #
//###################################################

@media all and (min-width: 1200px) {
    .paragraphs .pc {
        display: inline;
    }

    #home-about .paragraphs {
        margin-top: 35px;
    }

    //######### projects section ###################


    .project-container .right-side {
        height: 80%;
        justify-content: space-between;

        .top-row {
            height: 10%;
        }

        .app-picture {
            position: relative;
            overflow: hidden;
            flex-grow: 1;
        }

        .app-picture img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            -o-object-fit: cover;
            object-fit: cover;
            margin-top: 5px;
            height: auto;
        }


    }



    //############ skills section ########

    .skills-column .head-title h2 {
        margin: 4vh 0;
    }

    //########## get in touch

    #get-in-touch .small-form {
        width: 60%;
    }
}