/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//***************************
//**      FONTS           ***
//***************************

@font-face {
    font-family: "ProximaThin";
    src: url("proxima/ProximaNovaThin.otf") format("opentype");
}

@font-face {
    font-family: "ProximaReg";
    src: url("proxima/ProximaNovaRegular.otf") format("opentype");
}

@font-face {
    font-family: "ProximaBold";
    src: url("proxima/ProximaNovaBold.otf") format("opentype");
}

//#################################
//###      html, body           ###
//#################################

html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
    font-size: 14px;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ProximaReg", sans-serif;
}

p {
    font-family: "ProximaThin", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

section {
    background: #fff;
    //overflow: hidden;
}

//#######################################
//#            Buttons                  #
//#######################################


.btn-general {
    font-family: "ProximaReg", san-serif;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 30px 12px 30px;
    transition: all .5s;
}

.btn-home {
    color: black;
    border: 1px solid black;
}

.btn-home:hover,
.btn-home:focus {
    color: white;
    background: gray;
    border: 1px solid gray;
}

//#######################################
//#             boxes                   #
//#######################################

.box-lg {
    display: block;
    margin: 20px 10px 20px 10px;
    padding: 5px;
}

//#######################################
//#             HOME                    #
//#######################################

#root-home {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    position: relative;
}

#home,
#root-home {
    width: 100%;
    background: none;
    height: 100%;
}

#title-background {
    //background-color: red;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: url("home_background.svg") no-repeat;
    background-size: cover;
    z-index: -1;
}

#title-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#home-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title {
    width: 60%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#title-heading h1 {
    width: 100%;
    font-family: "ProximaBold";
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    text-align: center;
}

#title-sub-heading h3 {
    width: 100%;
    font-family: "ProximaThin";
    color: black;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 25px 0 15px 0;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

#title-details h4 {
    width: 100%;
    font-family: "ProximaThin";
    color: black;
    font-size: 1.1rem;
    margin: 10px 0 10px 0;
    display: inline-block;
    text-align: center;
    line-height: 14px;

}


#title-heading .key {
    color: blue;
}

#title-icons {
    margin: 20px 0 10px 0;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#title-icons a {
    position: relative;
    width: 24px;
    height: 24px;
}

#title-icons a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title-icons #git::after {
    -webkit-mask: url(git.svg) no-repeat 100% 100%;
    mask: url(git.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}

#title-icons #lin::after {
    -webkit-mask: url(lin.svg) no-repeat 100% 100%;
    mask: url(lin.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}

#title-icons #twi::after {
    -webkit-mask: url(twi.svg) no-repeat 100% 100%;
    mask: url(twi.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}

#title-icons #sts::after {
    -webkit-mask: url(sts.svg) no-repeat 100% 100%;
    mask: url(sts.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;
}


#contact-me {
    margin: 30px 0 10px 0;
}

//#######################################
//#           move down arrow           #
//#######################################


#move-down {
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateX(-50%);
}

#move-down a::after {
    content: "R";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#move-down #arrow-down::after {
    -webkit-mask: url(arrow_down.svg) no-repeat 100% 100%;
    mask: url(git.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: black;
    z-index: 1;
}

#move-down #arrow-down:hover::after,
#move-down #arrow-down:focus::after {
    -webkit-mask: url(arrow_down.svg) no-repeat 100% 100%;
    mask: url(git.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: gray;

}

//#######################################
//#             about                   #
//#######################################

#about {
    display: block;
    position: relative;
    background: none;
    justify-content: center;
    height: auto;
}

/* 
#about-background {
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url("about_background.png") no-repeat;
    background-size: cover;
    z-index: -1;
}

#about-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    width: auto;
    height: auto;
    z-index: -1;
}
 */
#home-about {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    margin: 40px 0 30px 0;
    padding: 40px 0;
    border-bottom: 8px solid red;
    align-self: flex-start;

}

.section-title h1 {
    width: 100%;
    font-family: "ProximaBold";
    color: red;
    font-size: 8rem;
    text-transform: capitalize;
    margin: 30px 0 20px 0;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

.paragraphs {
    margin: 10px 0px 80px 0;
}

.paragraphs .pc {
    display: none;
}

.paragraphs .mobile {
    display: inline-block;
    width: 100%;
    font-family: "ProximaReg";
    color: black;
    font-size: 4.5rem;
    margin: 35px 0 10px 0;
    display: inline-block;
    text-align: left;
    line-height: 80px;
}

//#######################################
//#        project-container            #
//#######################################

.project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .05), 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden
}

//#######################################
//#             projects                #
//#######################################

#projects {
    margin: 30px 20px 30px 20px;
    display: block;
    position: relative;
    background: none;
    justify-content: center;
    height: auto;
}


//###################################################
//#             about media query                   #
//###################################################

@media all and (min-width: 768px) {
    #root-home {
        position: relative;
        flex-wrap: wrap;
        height: 100%;
    }


    #contact-me,
    #get-resume {
        display: none;
    }


    #home {
        width: 50%;
        height: 70%;
        align-self: center;
    }

    #about {
        width: 50%;
        heigth: 70%;
        align-self: center;
    }

    #root-buttons {
        width: 100%;
    }

    #main-title {
        margin-top: 40%;
        width: 80%;
        align-items: flex-start;
    }

    #main-title h1 {
        font-size: 3rem;
        text-align: left;
    }

    #main-title h3 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding: 0;
        width: 100;
        text-align: left;

    }

    #main-title h4 {
        font-size: 1.5rem;
        line-height: 25px;
    }

    #title-icons {
        margin-top: 50px;
        width: 80%;
        align-self: center;
    }

    #title-icons a {
        margin-top: 20%;
        width: 3rem;
        height: 3rem;
    }

    #contact-me {
        margin-top: 10%;
        align-self: center;
    }

    //########### about media ############

    #home-about {
        margin-left: 5px;
        margin-right: 5px;
    }

    .section-title {
        margin-top: 10px;
        align-self: center;
        padding-bottom: 6px;
    }

    .section-title h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    #home-about .paragraphs {
        margin-bottom: 0px;
    }

    #home-about .paragraphs p {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .paragraphs .mobile {
        font-family: "ProximaThin";
        font-size: 5.0rem;
    }

    //########### root buttons ############

    #root-buttons {
        display: flex;
        justify-content: space-around;
    }

}

@media all and (min-width: 768px) and (orientation: landscape) {
    #main-title {
        margin-top: 10%;
        width: 80%;
        align-items: flex-start;
    }

    .section-title {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        align-self: center;
        padding-bottom: 6px;
    }

    .section-title h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    #home-about .paragraphs p:first-child {
        margin-top: 15px;
    }

    .paragraphs .mobile {
        font-family: "ProximaThin";
        font-size: 4.0rem;
        margin: 20px 0 10px 0;
        display: inline-block;
        text-align: left;
        line-height: 80px;
    }

}